<div class="masthead bg-primary text-white text-center mb-5">
    <header style="margin-top: 40px;">
      <div class="container d-flex align-items-center flex-column pt-5 pb-4">
        <h1 class="masthead-heading text-uppercase mb-0">Christian Eduardo Amaro Reyes</h1>   
        <hr data-content="Velocidad">             
        <p class="masthead-subheading font-weight-light mb-0" style="font-size: 14px;">
	<b style="font-size: 20px;">Unit Testing </b><br>
        </p>
      </div>
    </header>
    <section class="container text-justify pb-4">
      <p style="font-size: 16px; text-align: justify;">Descripción, En éste projecto ponemos a prueba la realización de <b>pruebas unitarias en ambientes de trabajo reales</b>, utilizanco como medio el framework <b>Angular</b> y el framework <b>Jasmine</b>, cuya integración ya viene configurada en Angular CLI y es un marco de desarrollo basado en el comportamiento para probar códigp.</p>
      <p style="font-size: 16px; text-align: justify;">Éste proyecto nos permite calcular la velocidad, teniendo como partida dos datos d=distancia y t=tiempo cuya formula se establece de la siguiente manera V=d/t;</p>
    </section>
  </div>
  
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Carcular Velocidad</h2>
    </div>
  </section>
